.container {
  background: #5b8f86;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 1rem;
}

.darkBg {
  background: #256659;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.headerInner {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 150px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  z-index: 2;
}

.logo {
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: fit-content;
}

.btn {
  padding: 10px 24px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  white-space: nowrap;
  color: #fff;
  background: linear-gradient(123.99deg, #f89800 1.5%, #004a56 74.51%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.btnLarge {
  width: 100%;
  font-size: 16px;
  line-height: 200%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden auto;
  z-index: 1;
}

.nav {
  display: flex;
  padding: 12px 1rem 0px 1.5rem;
  margin-bottom: -4px;
  width: 100%;
  max-width: 420px;
  color: rgb(86, 90, 105);
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
}

.navItem {
  padding: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.registerItem {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.navItemSelected {
  color: #fff;
}

.formWrap {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin-top: 50px;
  padding: 50px 20px 20px 20px;
  background: rgb(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #fff;
}

.formControl {
  margin-bottom: 30px;
}

.inputWrap {
  width: 100%;
  padding: 10px 20px;
  background: rgba(33, 33, 33, 0.6);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.input {
  font-size: 22px;
  line-height: 30px;
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.subLabel {
  height: 12px;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: #7a7a7a;
}

.subLabelLarge {
  font-size: 18px;
}

.profileLink {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.profileWrap {
  display: flex;
  width: 100%;
  max-width: 1240px;
  flex-direction: row;
  align-items: top;
}

.profileDetails {
  padding: 20px;
  flex: 2;
}

.nftWrap {
  flex: 1;
}

.nft {
  border-radius: 10px;
  overflow: hidden;
  width: 384px;
  height: 522px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profileTitle {
  color: #fff;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.profileStats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
}

.profileStats li {
  margin-right: 20px;
}

.profileStats li span {
  vertical-align: top;
}

.offset {
  font-size: 26px;
  color: #dcbf52;
}

.offsetTitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.transactions {
  padding: 20px 0;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.transactions header {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.transactions header span {
  padding-right: 10px;
}

.transactions section {
  display: flex;
  align-items: center;
  min-height: 250px;
  width: 100%;
}

.transactions section div {
  width: 100%;
  text-align: center;
}

@media (max-width: 1115px) {
  .profileWrap {
    flex-direction: column;
  }
  .profileLink {
    text-align: center;
  }
  .btnSection {
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    justify-self: center;
    max-width: 1115px;
    padding: 1rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    height: 72px;
  }
}
